---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    NectarGPT - All-in-One AI Assistant Chrome Extension Powered by GPT
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Maximize productivity with NectarGPT, the ultimate AI assistant chrome extension powered by OpenAI, designed to enhance your browsing experience. With ChatGPT on steroids, you'll have access to a range of cutting-edge features that will make your web browsing smarter and more efficient than ever before. From personalized recommendations to instant language translation, NectarGPT has it all. With our all-in-one solution, you'll never need to switch between multiple apps or tools again. Try NectarGPT today and experience the power of AI at your fingertips
  </p>
  <div class="flex mt-5">
    <Link href="https://github.com/socialtribexyz/Nectar-GPT" style="inverted">Download!</Link>
  </div>
</div>
