---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/p4LPIoWdMuY?autoplay=1"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      NectarGPT - AI Assistant Chrome Extension Powered by GPT
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Introducing NectarGPT - Your Ultimate All-in-One AI Assistant

      Unlock the full potential of your browsing experience with NectarGPT, the cutting-edge Chrome extension powered by GPT. Seamlessly integrated into your browser, NectarGPT revolutionizes the way you work, research, and explore the web. Say goodbye to tedious tasks and welcome a new level of productivity and convenience.
      
      Supercharge Your Productivity:
      NectarGPT is designed to be your personal AI assistant, helping you accomplish tasks more efficiently than ever before. From managing your schedule and organizing bookmarks to generating accurate research summaries and providing intelligent recommendations, NectarGPT streamlines your workflow and frees up your valuable time.
      
      Explore the Web with Ease:
      Unleash the power of the internet with NectarGPT's intelligent browsing capabilities. Discover relevant content, get instant answers to your questions, and dive into detailed insights without leaving your current page. NectarGPT intelligently analyzes web content and delivers valuable information at your fingertips, empowering you to make informed decisions and stay ahead of the curve.
      
      Tailored to Your Needs:
      Customize NectarGPT to suit your unique preferences and requirements. Whether you're a student, professional, researcher, or simply someone who wants to optimize their online experience, NectarGPT adapts to your specific needs. Personalize settings, choose your preferred AI style, and let NectarGPT become your personalized AI companion.
      
      Stay Informed and Inspired:
      With NectarGPT, you're always connected to the latest trends, news, and insights. Receive real-time updates, curated articles, and personalized recommendations based on your interests and browsing history. Stay informed, inspired, and discover new possibilities in every click.
      
      Download NectarGPT Today:
      Unlock the full potential of your browsing experience and take control of your online activities with NectarGPT. Simply click the download button below to get started and experience the power of AI at your fingertips.
      
      Join the growing community of NectarGPT users who are transforming the way they work, learn, and explore the web. Embrace the future of AI-powered browsing with NectarGPT and elevate your online journey today. <wbr />
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://github.com/socialtribexyz/nectarGPT"
        href="https://github.com/socialtribexyz/nectarGPT"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

        download NectarGPT 
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/socialtribexyz/nectarGPT/blob/main/NectarGPTAGI/prompt.txt"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        FREE Prompt guide
      </Link>
    </div>
  </div>
</main>
