---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/p4LPIoWdMuY?autoplay=1"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  </div>
  <div>
    <h2
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      NectarGPT - Your All-in-One AI Assistant Powered by GPT
    </h2>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">

      Welcome to NectarGPT, the ultimate AI assistant that takes ChatGPT to the next level. Designed to supercharge your productivity and enhance your online experience, NectarGPT is your comprehensive solution for seamless browsing, intelligent insights, and personalized assistance.
      
      Join the growing community of NectarGPT users who are transforming the way they work, learn, and explore the web. Embrace the future of AI-powered browsing with NectarGPT and elevate your online journey today. <wbr />
    </p>
    Take Control of Your Online Journey:
With NectarGPT, you're equipped with an all-in-one AI assistant that empowers you to navigate the digital realm with ease. Whether you're a student, professional, researcher, or just an avid internet user, NectarGPT enhances your capabilities and simplifies your online activities.

Boost Your Productivity:
Say goodbye to time-consuming tasks and welcome a new era of efficiency. NectarGPT assists you in managing your schedule, organizing bookmarks, and generating accurate research summaries. By automating repetitive tasks, you can focus on what truly matters, achieving more in less time.

Intelligent Insights at Your Fingertips:
NectarGPT leverages its advanced AI capabilities to provide you with intelligent insights and relevant information. Discover valuable content, get instant answers to your queries, and gain deeper understanding without leaving your current page. With NectarGPT, knowledge is just a click away.

Personalize Your AI Experience:
Tailor NectarGPT to align with your unique preferences and needs. Customize settings, select your preferred AI style, and unlock a personalized browsing journey. NectarGPT adapts to your requirements, becoming your trusted AI companion every step of the way.

Stay Ahead of the Curve:
In the fast-paced digital landscape, staying informed is key. NectarGPT keeps you up-to-date with real-time updates, curated articles, and personalized recommendations based on your interests and browsing history. Let NectarGPT be your guide, providing you with the latest trends, news, and insights.

Experience the Power of NectarGPT Today:
Ready to revolutionize your online experience? Experience the power of NectarGPT by downloading it today. Click the button below to unlock the full potential of an AI assistant that combines the best of ChatGPT with enhanced capabilities. Elevate your browsing journey with NectarGPT.
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://github.com/socialtribexyz/nectarGPT"
        href="https://github.com/socialtribexyz/nectarGPT"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

        download NectarGPT 
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/socialtribexyz/nectarGPT/blob/main/NectarGPTAGI/prompt.txt"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        FREE Prompt guide
      </Link>
    </div>
  </div>
</main>
